bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.WorkerService1/.idea/.gitignore
.idea/.idea.WorkerService1/.idea/encodings.xml
.idea/.idea.WorkerService1/.idea/indexLayout.xml
.idea/.idea.WorkerService1/.idea/vcs.xml
